*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #292738;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

main{
  margin: auto;
  max-width: 1366px;
  height: 100%;
  padding: 111px 123px;
}
h2{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 160%; /* 38.4px */
}

span{
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
}
.container{
  width: fit-content;
}


.circle-progress-bar{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  text-align: center;
}
.circle-progress-bar > div ,.weekly-sales{
  padding: 29px 48px;
  border-radius: 16px;
  background-color: #363447;
  box-shadow: 3px 4px 26px 0px rgba(0, 0, 0, 0.25);
}
.circle-progress-bar > div > .progress-bar{
  width: 197px;
  height: 197px;
  margin: 32px;
}

.circle-progress-bar > div > .smile{
  width: 157px;
  height: 197px;
  margin: 32px;
}

.circle-progress-bar .progress-bar{
  width: 197px;
  height: 197px;
  position: relative;
}
.progress-bar .inner{
  width: 197px;
  height: 197px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar .inner > div{
  font-weight: 600;
  color: #fff;
}
.progress-bar > svg{
  position: absolute;
  top: 0;
  left: 0;
}

.smile{
  width: 197px;
  height: 167px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.smile > span{
  color: #81FBB8;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}


.weekly-sales{
  margin-top: 60px;
  padding: 29px 48px;
}
.weekly-sales > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.weekly-sales >  h2{
  text-align: start;
  margin-bottom: 32px;
}

.weekly-sales .sales{
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.weekly-sales .sales span{
  display: block;
  text-align: start;
  margin-bottom: 16px;
}
.weekly-sales .sales span > svg{
  width: 15px;
  height: 15px;
}

.weekly-sales .sales p{
  border: solid;
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
}

.weekly-sales  .weekly{
  width: 350px;
  position: relative;
  height: 180px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.weekly-sales .weekly  div  .bar{
  position: relative;
  z-index: 1;
  width: 15px;
  height: 100%;
  margin: 0 auto;
  border-radius: 999px;
  background: linear-gradient(180deg, #90F7EC 0%, #32CCBC 100%);
}

.div-bar{
  position: absolute;
  top: calc(50% - 3px);
  width: 100%;
  height: 3px;
  border-radius: 999px;
  background-color: #4A4556;
}